* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(228, 228, 228);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ecebeb;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbd862;
  border-radius: 50px;
}

.heading {
  padding: 10px;
  top: 0;
  position: sticky;
  background: rgb(251, 216, 98);
  background: linear-gradient(
    90deg,
    rgba(251, 216, 98, 1) 35%,
    rgba(79, 158, 123, 1) 100%
  );
}

.learn-more {
  /* border: 2px solid rgb(251,216,98); */
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  box-shadow: 3px 3px 0 rgb(40, 34, 34);
  transition: 0.3s all ease;
}
.learn-more:focus {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  box-shadow: 3px 3px 0 rgb(40, 34, 34);
}
.learn-more:active {
  transform: translateY(3px);
  color: white;
  background-color: black;
}
.learn-more:active:after {
  color: white;
  background-color: black;
}
.learn-more:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  width: 150px;
  transition: all 0.3s ease;
  letter-spacing: 1.2px;
}
.learn-more:hover::before {
  width: 100%;
}

.heading h1 {
  font-size: x-large;
}

.note {
  border-radius: 10px;
  min-width: 200px;
  min-height: max-content;
  padding: 0;
  margin: 5px;
  background: white;
  height: 25vh;
  width: 22vw;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 5px;
}

.inputHeading {
  border: none;
  outline: none;
  padding: 2px 5px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.operations {
  display: flex;
  justify-content: flex-end;
  /* padding: 10px; */
}

.operations .btn {
  color: white;
  border-radius: 50%;
  border: none;
  font-size: 0.7em;
  margin-left: 5px;
  /* padding: 5px 10px; */
  transition: background 0.1s ease-out;
}

.operations #editBtn {
  background-color: rgb(42, 173, 2);
}

.operations #deleteBtn {
  background-color: rgb(197, 29, 29);
}

.operations #editBtn:hover {
  color: rgb(42, 173, 2);
  background-color: rgb(245, 244, 244);
}

.operations #deleteBtn:hover {
  color: rgb(197, 29, 29);
  background-color: rgb(245, 244, 244);
}

#notesContainer {
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

textarea.noteContent {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 97%;
  height: 75%;
  margin: 0 5px;
  padding: 5px 0;
}


/* toast css */
#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-right: -125px;  
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 40%; 
  top: 20px;
}


#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}  
  to {top: 30px; opacity: 1;} 
}

@keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;} 
}


.catHead {
  text-decoration: underline;
} */

@keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}
